.home-container {
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  /* Background image */
  background: url("C:\Users\jaysh\Desktop\Alumni\Alumni-Connect\img\college.jpg") no-repeat center center;
  background-size: cover;
  padding: 20px;
  /* filter: blur(-50px) brightness(-0.5); */
 
}

.home-card {
  border-radius: 12px !important;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.2s ease-in-out;
  background-color: #ebedf1;
}
.home-intro{
  font-size: 2.5rem;
  font-weight: bolder;
  font-style: initial;
  color: hsl(120, 26%, 95%);
  text-align: center;
  
}

.home-card:hover {
  transform: translateY(-4px);

}


